body{

    margin: 0;
}

h1{
    margin: 0;
}
.header{

    text-align: center;
    background-color: gainsboro;
    margin: 0;
    padding: 25px 0;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}